# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Oo]bj/
[Ll]og/
[Ll]ogs/
 
# Config project 
*.bak
**/.vs
[Bb]in/
/log4net
/packages


/src/CmsWebsite.Api/Properties/PublishProfiles
/src/.claudiaideconfig
/src/CmsWebsite.Client.Blazor/wwwroot/uploads/2022/4/articles
/src/CmsWebsite.Client.Blazor/wwwroot/uploads/2022/4/categories
/src/CmsWebsite.Client.Blazor/wwwroot/uploads/Year_2022/Month_4/articles
