
<h6>ỦY BAN MẶT TRẬN CÁC TỈNH THÀNH PHỐ</h6>
<RadzenListBox AllowFiltering="true" Placeholder="Tìm kiếm thông tin"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterOperator="StringFilterOperator.Contains" 
                @bind-Value=@value
                Data=@List TextProperty="Name"
                ValueProperty="Link"  Change=@OnChange Style="height:200px;font-size:small"  Class="w-100" />

@code {
    private string value = string.Empty;
    List<Item> List = new List<Item>() {
        new Item ("https://chinhphu.vn/", "Cổng thông tin điện tử chính phủ"),
        new Item ("http://ubmttq.dongnai.gov.vn/Pages/default.aspx", "MTTQ tỉnh Đồng Nai"),
        new Item ("https://dangcongsan.vn/", "Báo điện tử đảng cộng sản"),
        new Item ("http://ubmttqvn.quangtri.gov.vn/", "MTTQ tỉnh Quảng Trị"),
        new Item ("https://ninhthuan.gov.vn/portal/Pages/default.aspx", "MTTQ tỉnh Ninh Thuận"),
        new Item ("http://mttq.thaibinh.gov.vn/", "MTTQ tỉnh Thái Bình"),
    };

    public class Item
    {
        public Item(string link, string name)
        {
            Link = link;
            Name = name;
        }
        public string Link { get; set; }
        public string Name { get; set; }

    }

    void OnChange()
    {
        @* var str = value is List<object> ? string.Join(", ", (List<object>)value) : value; *@

        Console.WriteLine($"Value changed to {str}");
    }


}
