@using CmsWebsite.Share.Models.Article
@using CmsWebsite.Client.Blazor.Services.Article
@inject IArticleService _client

<div class="row">
    <div class="col-md-6"> 
        <RadzenImage Path="" Style="width: 60%; margin: 3rem;" />
        
    </div>
    
</div>
@code {

    [Parameter]
    public string? Abbreviation { get; set; }

    public List<ArticleDTO>? Articless { get; set; }

    
    protected override async Task OnInitializedAsync()
    {    
        Articless = await _client.GetListArticle();
    }
}
