@using CmsWebsite.Client.Blazor.Services.Category
@using CmsWebsite.Client.Blazor.Services.Article
@using CmsWebsite.Share.Models.Article
@inject ICategoryService _clientCategory
@inject IArticleService  _clientArticle


<div class="row">
    <div class="col-md-6"> 
        <RadzenImage Path="" Style="width: 60%; margin: 3rem;" />
        
    </div>
    
</div>
@code {

    [Parameter]
    public string? Abbreviation { get; set; }

    public List<ArticleDTO>? Articless { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var list = await _clientCategory.GetListCategory();
        long categoryId  =  list.Where(i => i.Abbreviation == Abbreviation).FirstOrDefault().CategoryId;
        Articless = await _clientArticle.GetListArticle();
         
    }
}
