@*<div>
    <marquee> @DayOfWeek(), @DateTime.Now.ToString("dd/MM/yyy")</marquee>
</div>*@

<RadzenCard>
    <div class="input-group">
        <RadzenTextBox class="form-control"  Placeholder="Tìm kiếm thông tin" />
        <RadzenButton  class="btn btn-outline-secondary" Icon="search" ButtonStyle="ButtonStyle.Success"  />
    </div>

</RadzenCard>

<RadzenCard> 
     <marquee>Hôm nay @DayOfWeek(), @DateTime.Now.ToString("dd/MM/yyy")</marquee>
</RadzenCard>

<RadzenCard>
    <h6><RadzenIcon Icon="label" />LIÊN KẾT WEBSITE</h6>
    <RadzenDropDown AllowClear="true" TValue="string" Class="w-100" Placeholder="Tìm kiếm thông tin"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
                    Data=@List TextProperty="Name" ValueProperty="Link" />
</RadzenCard>
@code {

    List<Item> List = new List<Item>() {
        new Item ("https://chinhphu.vn/", "Cổng thông tin điện tử chính phủ"),
        new Item ("https://dangcongsan.vn/", "Báo điện tử đảng cộng sản")
    };

    public class Item
    {
        public Item(string link, string name)
        {
            Link = link;
            Name = name;
        }
        public string Link { get; set; }
        public string Name { get; set; }

    }

    private string DayOfWeek()
    {
        int day = (int)DateTime.Now.DayOfWeek;
        switch (day)
        {
            case 1:
                return "thứ hai";
            case 2:
                return "thứ ba";
            case 3:
                return "thứ tư";
            case 4:
                return "thứ năm";
            case 5:
                return "thứ sáu";
            case 6:
                return "hứ bảy";
            default:
                return "chủ nhật";

        }
    }

}
