@inject IJSRuntime JSRuntime;

<span class="tag my-2" style="display: block;">LIÊN KẾT WEBSITE</span>
<RadzenDropDown AllowClear="true" TValue="string" Class="w-100" Placeholder="Tìm kiếm thông tin"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
                Data=@List TextProperty="Name" ValueProperty="Link" Change=@OnChange/>

@code {

    List<Item> List = new List<Item>() {
        new Item ("https://chinhphu.vn/", "Cổng thông tin điện tử chính phủ"),
        new Item ("https://dangcongsan.vn/", "Báo điện tử đảng cộng sản")
    };

    public class Item
    {
        public Item(string link, string name)
        {
            Link = link;
            Name = name;
        }
        public string Link { get; set; }
        public string Name { get; set; }

    }



    async Task OnChange(object value)
    {
        await JSRuntime.InvokeAsync<string>("open", $"{value}", "_blank");
    }
}
