@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime

<a style="position: fixed;
    width: 52px;
    height: 52px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    right: 2em;
    bottom: 2em;
    padding-top: 10px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 4%);
    z-index: 100001!important;
    border: 1px solid #ececec;" @onclick="ScrollTop">
    <img src="img/up-arrow.png" alt="Up arrow icon">
</a>

@code {
    async void ScrollTop() => await JSRuntime.InvokeVoidAsync("OnScrollEvent");
}
