@using CmsWebsite.Share.Models.Article
@inject NavigationManager uriHelper
<div class="row">
    
    @if (listArticle != null)
    {
        foreach (var item in newArticle)
        {
          
                <div class="col-md-4">
                    <div class="wrapper m-2">
                        <span @onclick="() => EditRow(item.ArticleID)">
                            <img src="@item.ImageFile" class="rounded float-left mr-2" style="width: 95px; height: 80px;">
                            <p class="wrapper-p" style="font-size:13px">@item.Description</p>
                        </span>
                    </div>
                </div>
           
        }
    }
    
</div>

@code {

    [Parameter]
    public List<ArticleDTO>? listArticle { get; set; }

    public IEnumerable<ArticleDTO> newArticle { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        newArticle = listArticle.OrderByDescending(d => d.CreatedDate).Take(3);
    }

    protected void EditRow(long id) => uriHelper.NavigateTo($"chitietbaiviet/{id}");
}
