@using CmsWebsite.Share.Models.Article
@inject NavigationManager uriHelper
<div class="row">

    @if (Articles != null)
    {
        foreach (var item in Articles.Take(3))
        {

            <div class="col-md-4">
                <div class="wrapper m-2">
                    <img src="@item.ImageFile" class="rounded float-left mr-2" style="width: 95px; height: 80px;">
                    <div>
                        <p class="wrapper-p" style="font-size:13px">@item.Description</p>
                    </div>
                </div>
            </div>

        }
    }

</div>

@code {

    [Parameter]
    public List<ArticleDTO>? Articles { get; set; }

    private void EditRow(long id) => uriHelper.NavigateTo($"chitietbaiviet/{id}");
}
