
@using CmsWebsite.Client.Blazor.Services.Category
@using CmsWebsite.Client.Blazor.Services.Article
@using CmsWebsite.Share.Models.Article
@inject ICategoryService _clientCategory
@inject IArticleService _clientArticle

<RadzenCard Style="width: 100%;">
    @if (Articless != null)
    {
        <div class="row">
            <div class="col-md-8">
                <RadzenImage Path=@Articless[0].ImageFile Style="width:100%;height:60%;" />
                <label class="m-2" style="font-weight:700;font-size:22px">@Articless[0].Title</label>
                <p class="wrapper-p mr-2">@Articless[0].Description</p>
            </div>

            <div class="col-md-4">
                <RadzenImage Path=@Articless[1].ImageFile Style="width: 100%;" class="rounded"/>
                <RadzenCard >
                    <span class="wrapper-p">@Articless[1].Title</span>
                    @for (var i = 2; i < Articless.Count; i++)
                    {
                        <hr />
                        <span class="wrapper-p">@Articless[i].Title</span>
                    }
                </RadzenCard>
            </div>
        </div>
    }
   
</RadzenCard>

@code {

    [Parameter]
    public string? Abbreviation { get; set; }


    public List<ArticleDTO>? Articless { get; set; }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            var list = await _clientCategory.GetListCategory();
            long categoryId = list.Where(i => i.Abbreviation == Abbreviation).FirstOrDefault().CategoryId;
            Articless = await _clientArticle.GetListArticleCategoryByCategoryId(categoryId);

        }
        catch (Exception ex)
        {

        }
    }
}
