<RadzenCard  class="m-1">
    <h6 class="category">VĂN BẢN</h6>

    <RadzenTabs Change=@OnChange TabPosition="TabPosition.Top"
                 RenderMode="TabRenderMode.Client">
        <Tabs>
            <RadzenTabsItem Text="HƯỚNG DẪN" Style="font-size:small">
            </RadzenTabsItem>
            <RadzenTabsItem Text="PHÁP LUẬT" Style="font-size:small">
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>


    <RadzenTabs Change=@OnChange TabPosition="TabPosition.Bottom"
                 RenderMode="TabRenderMode.Client">
        <Tabs>
            <RadzenTabsItem Text="XEM NHIỀU" Style="font-size:small">
            </RadzenTabsItem>
            <RadzenTabsItem Text="TIN MỚI" Style="font-size:small">
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>

</RadzenCard>

@code {

    

    protected override void OnInitialized()
    {

    }

    void OnChange(int index)
    {

    }
}
