@using CmsWebsite.Client.Blazor.Services.Article;
@using CmsWebsite.Share.Models.Article;
@using Newtonsoft.Json;

@inject IArticleService ArticleService

<span class="tag my-2">VĂN BẢN</span>
<style>
    ul[role=tablist] {
        justify-content: flex-start !important;
        white-space: nowrap !important;
        overflow-y: hidden !important;
    }
</style>
<RadzenTabs Change=@OnChange TabPosition="TabPosition.TopRight"
            RenderMode="TabRenderMode.Client" >
    <Tabs>
        <RadzenTabsItem Text="HƯỚNG DẪN">
            <div>
                <RadzenTextBox Class="w-100" Placeholder="Tìm kiếm văn bản" />
            </div>
            <div class="mt-2">
                <RadzenDropDown Placeholder="Loại" AllowClear="true" TValue="string" Class="w-100" />
            </div>
            <div class="d-flex justify-content-between mt-2">
                <RadzenDropDown Placeholder="Năm" TValue="int" Data=@years AllowFiltering="true" Style="width: 60%" />
                <RadzenButton Text="Tìm" Icon="search" ButtonStyle="ButtonStyle.Warning" />
            </div>
        </RadzenTabsItem>
        <RadzenTabsItem Text="LUẬT">
        </RadzenTabsItem>
        <RadzenTabsItem Text="XEM NHIỀU">
            <div style="height: 300px;">
                @foreach (var item in viewArticle)
                {
                    <a class="text-decoration-none text-reset" href="/baiviet/@item.ArticleID">@item.Title</a>
                    <hr />
                }
            </div>
        </RadzenTabsItem>
        <RadzenTabsItem Text="TIN MỚI">
            <div style="height: 300px;">
                @foreach (var item in newArticle)
                {
                    <a class="text-decoration-none text-reset" href="/baiviet/@item.ArticleID">@item.Title</a>
                    <hr />
                }
            </div>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>




@code {
    public List<ArticleDTO> newArticle = new();
    public List<ArticleDTO> viewArticle = new();

    protected async override Task OnInitializedAsync()
    {
        var articles = await ArticleService.GetListArticle();
        newArticle = articles.OrderByDescending(d => d.CreatedDate).Take(5).ToList();
        viewArticle = articles.OrderByDescending(v => v.View).Take(5).ToList();
    }

    List<int> years = new List<int>();

    protected override void OnInitialized()
    {
        for (var i = DateTime.Now.Year; i >= 1930; i--)
        {
            years.Add(i);
        }
    }

    void OnChange(int index)
    {

    }
}
