<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/39089dd8-f01c-4ae5-8381-3eb2b79984cb/resourceGroups/az_app_service/providers/Microsoft.Web/sites/CmsWebsiteApi</ResourceId>
    <ResourceGroup>az_app_service</ResourceGroup>
    <ApiResourceId>/subscriptions/39089dd8-f01c-4ae5-8381-3eb2b79984cb/resourceGroups/az_app_service/providers/Microsoft.ApiManagement/service/CmsWebsiteApiapi/apis/CmsWebsiteApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cmswebsiteapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>0f2a3e2e-5b86-4e89-9fd0-599bdc48af32</ProjectGuid>
    <MSDeployServiceURL>cmswebsiteapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CmsWebsiteApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CmsWebsiteApi</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>