<hr />
<div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-4">
        <p>
            © 2022 Trang TTĐT - Cơ quan Uỷ ban Trung ương MTTQ Việt Nam. <br />
            Giấy phép số:111/GP-BC của Bộ Thông tin và Truyền thông <br />
            Trưởng ban Biên tập: <b>Huỳnh Tấn Phát</b> <br />
            Địa chỉ: 46 Tràng Thi - Quận Hoàn Kiếm - Hà Nội <br />
            ĐT : 08046154 - Email: trunguongmttqvietnam@gmail.com <br />
            Website được phát triển bởi VietInfo
        </p>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-4">
        TRANG THÔNG TIN ĐIỆN TỬ
        <p style="color:red;font-size:x-large">MẬT TRẬN TỔ QUỐC VIỆT NAM</p>­
    </div>
</div>