<hr />
<div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-5">
        <p>
            © 2022 Trang TTĐT - Cơ quan Uỷ ban Trung ương MTTQ Việt Nam. <br /> 
            ĐT : 08046154 - Email: abc@gmail.com <br />
            
        </p>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-4">
        TRANG THÔNG TIN ĐIỆN TỬ
        <p style="color:red;font-size:x-large">MẬT TRẬN TỔ QUỐC VIỆT NAM</p>­
    </div>
</div>