@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IAuthService auth
@inject IArticleService _client
@using CmsWebsite.Client.Blazor.Services.Article
@using CmsWebsite.Share.Models.Article
@using CmsWebsite.Client.Blazor.Pages.Components;

<link href="_content/Radzen.Blazor/css/default.css" rel="stylesheet">
<div class="page">
    <RadzenDialog />
    <RadzenNotification />

    <AuthorizeView>
        <Authorized>
            <div class="col-md-2 sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <div class="col-md-@col">

        <div class="top-row">
            <div class="col-md-4">
                <RadzenImage Path="/img/logo.png" Style="width:280px" />
            </div>
            <div class="col-md-3">
                Thứ  @DateTime.Now.DayOfWeek, @DateTime.Now.ToString("dd/MM/yyy")
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link ml-md-auto"><RadzenIcon Icon="facebook" /> Facebook</button>
                <button type="button" class="btn btn-link ml-md-auto"><RadzenIcon Icon="call" />Mobile</button>
                <button type="button" class="btn btn-link ml-md-auto"><RadzenIcon Icon="mark_email_read" />Email</button>
            </div>
            <AuthorizeView>
                <Authorized>
                    <div class="col-md-2">
                        <NavLink class="nav-link" href="logout" style="float:right">
                            Xin chào @context.User.Identity.Name !  Thoát <span class="oi oi-power-standby"></span>
                        </NavLink>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login" style="float:right" title="Đăng nhập quản trị">
                        <RadzenIcon Icon="manage_accounts" />
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>

        </div>

        <AuthorizeView>
            <NotAuthorized>

                <RadzenMenu>
                    <RadzenMenuItem Icon="menu" Text="Tất cả">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Giới thiệu</td>
                                    <td>Tin tổng hợp</td>
                                    <td>Tin hoạt động</td>
                                </tr>
                                <tr>
                                    <td>Chương trình phối hợp</td>
                                    <td>Văn bản hướng dẫn</td>
                                    <td>Thành đoàn</td>
                                </tr>
                                <tr>
                                    <td>Đối ngoại kiều bào</td>
                                    <td>Dân tộc - tôn giáo</td>
                                    <td>Thư viện ảnh</td>
                                </tr>
                            </tbody>
                        </table>
                    </RadzenMenuItem>
                    <RadzenMenuItem Text="Giới thiệu">
                        <RadzenMenuItem Text="Giới thiệu chung" Path="counter">
                        </RadzenMenuItem>
                        <RadzenMenuItem Text="Các kỳ đại hội" Path="">
                        </RadzenMenuItem>
                    </RadzenMenuItem>
                    <RadzenMenuItem Text="Hoạt động mặt trận">
                        <RadzenMenuItem Text="Tin hoạt động" Path="">
                        </RadzenMenuItem>
                        <RadzenMenuItem Text="Hoạt động mật trận địa phương" Path="">
                        </RadzenMenuItem>
                    </RadzenMenuItem>
                    <RadzenMenuItem Text="Giám sát & phản biện"></RadzenMenuItem>
                    <RadzenMenuItem Text="Dân tộc - tôn giáo"></RadzenMenuItem>
                    <RadzenMenuItem Text="Đối ngoại kiều bào"></RadzenMenuItem>

                </RadzenMenu>

            </NotAuthorized>
        </AuthorizeView>
        <div>
            <AuthorizeView>
                <NotAuthorized>
                    <TinMoi Articles=@articles />
                    <ItemContent Abbreviation=""></ItemContent>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content">
            @Body
        </div>

    </div>


    <AuthorizeView>
        <NotAuthorized>
            <div class="col-md-3">
                <LienKetWebsite></LienKetWebsite>
                <DanhSachMatTran></DanhSachMatTran>
                <VanBanPhapLuat></VanBanPhapLuat>
            </div>
        </NotAuthorized>
    </AuthorizeView>

</div>
<Footer></Footer>

@functions {

    int col = 10;

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    protected List<ArticleDTO> articles { get; set; }
    protected override async Task OnInitializedAsync()
    {
        articles = await _client.GetListArticle();
    }
    protected override async Task OnParametersSetAsync()
    {
        if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        {
            //navigationManager.NavigateTo("/login");
            col = 9;
        }
    }
}