@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IAuthService auth
@inject IArticleService _client
@inject NavigationManager uriHelper
@using CmsWebsite.Client.Blazor.Services.Article
@using CmsWebsite.Share.Models.Article
@using CmsWebsite.Client.Blazor.Pages.Components;


<link href="css/radzen/@(currentTheme).css" rel="stylesheet" />
<div class="page">
    <RadzenDialog />
    <RadzenNotification />

    <AuthorizeView>
        <Authorized>
            <div class="col-md-2 sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <div class="col-md-@col">

        <div class="top-row">
            <div class="col-md-3">
                <a href="/" style="text-decoration: none;">
                    <div class="row">
                        <div class="col-md-3"> 
                            <RadzenImage Path="/img/logo.png" style="width:70px" /> 
                        </div>
                        <div class="col-md-7 offset-md-2">
                            <span style="color:red; font-weight:700;font-size:16px">MẬT TRẬN TỔ QUỐC VIỆT NAM</span>
                            <br>
                            <span style="color:red; font-size:12px">TRANG THÔNG TIN ĐIỆN TỬ</span>
                            <br />
                            @DayOfWeek(), @DateTime.Now.ToString("dd/MM/yyy")
                        </div>
                    </div>
                </a>
            </div> 
            <div class="col-md-5 offset-md-2 icons-wrapper d-flex">
                @*<button type="button" class="btn d-flex" style="font-size:14px"><RadzenIcon Icon="facebook" /><span class="ms-1">Facebook</span></button>*@
                <button type="button" class="btn" style="font-size:14px"><RadzenIcon Icon="call" Style="color:green" /><span class="ms-1">(025 111 222)</span></button>
                <button type="button" class="btn" style="font-size:14px"><RadzenIcon Icon="mark_email_read" Style="color:red" /><span class="ms-1">Email</span></button>
            </div>
            <AuthorizeView>
                <Authorized>
                    <div class="col-md-2">
                        <NavLink class="nav-link" href="logout" style="float:right">
                            Xin chào @context.User.Identity.Name !  Thoát <span class="oi oi-power-standby"></span>
                        </NavLink>
                    </div>
                </Authorized>
                @* <NotAuthorized>
                <NavLink class="nav-link" href="login" style="float:right" title="Đăng nhập quản trị">
                <RadzenIcon Icon="manage_accounts" />
                </NavLink>
                </NotAuthorized>*@
            </AuthorizeView>

        </div>

        <AuthorizeView>
            <NotAuthorized>

                <RadzenMenu Style="width:100%">
                    <RadzenMenuItem Icon="home" Path="/"></RadzenMenuItem>

                    <RadzenMenuItem Text="Giới thiệu">
                        <RadzenMenuItem Text="Giới thiệu chung" Path="counter">
                        </RadzenMenuItem>
                        <RadzenMenuItem Text="Các kỳ đại hội" Path="">
                        </RadzenMenuItem>
                    </RadzenMenuItem>
                    <RadzenMenuItem Text="Hoạt động mặt trận">
                        <RadzenMenuItem Text="Tin hoạt động" Path="">
                        </RadzenMenuItem>
                        <RadzenMenuItem Text="Hoạt động mật trận địa phương" Path="">
                        </RadzenMenuItem>
                    </RadzenMenuItem>
                    <RadzenMenuItem Text="Giám sát & phản biện"></RadzenMenuItem>
                    <RadzenMenuItem Text="Dân tộc - tôn giáo"></RadzenMenuItem>
                    <RadzenMenuItem Text="Đối ngoại kiều bào"></RadzenMenuItem>
                    <RadzenMenuItem Icon="menu" Path="menu">



                    </RadzenMenuItem>
                </RadzenMenu>

            </NotAuthorized>
        </AuthorizeView>

        <div class="content">
            @Body
        </div>

    </div>

    <AuthorizeView>
        <NotAuthorized>
            <div class="col-md-3 my-2">
                <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Warning" Click=@(args => ChangeThem())>
                    <RadzenIcon Icon="@modeTheme" />
                </RadzenButton>
                <RadzenButton Variant="Variant.Text" ButtonStyle="ButtonStyle.Warning" Click=@(arg => uriHelper.NavigateTo("components/guibanbientap"))>
                    <RadzenIcon Icon="forward_to_inbox" />
                </RadzenButton>
                
                <LienKetWebsite></LienKetWebsite>
                <DanhSachMatTran></DanhSachMatTran>
                <VanBanPhapLuat></VanBanPhapLuat>
            </div>
        </NotAuthorized>
    </AuthorizeView>

</div>
<Footer></Footer>

@functions {

    int col = 10;
    string currentTheme = "standard";
    string modeTheme = "dark_mode";

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    protected List<ArticleDTO> articles { get; set; }
    protected override async Task OnInitializedAsync()
    {
        articles = await _client.GetListArticle();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        {
            col = 9;
        }
    }
    void ChangeThem()
    {
        if (currentTheme == "material")

        {
            currentTheme = "standard";
            modeTheme = "dark_mode";
        }
        else
        {
            currentTheme = "material";
            modeTheme = "light_mode";

        }

    }
    private string DayOfWeek()
    {
        int day = (int)DateTime.Now.DayOfWeek;
        switch (day)
        {
            case 1:
                return "Thứ hai";
            case 2:
                return "Thứ ba";
            case 3:
                return "Thứ tư";
            case 4:
                return "Thứ năm";
            case 5:
                return "Thứ sáu";
            case 6:
                return "Thứ bảy";
            default:
                return "chủ nhật";

        }
    }
}