@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IAuthService auth
@inject CmsWebsite.Client.Blazor.Services.IArticleService _client
@using CmsWebsite.Client.Blazor.Pages.Components;
@using CmsWebsite.Share.Models.Article


<link href="_content/Radzen.Blazor/css/default.css" rel="stylesheet">
<div class="page">
    <RadzenDialog />
    <RadzenNotification />

    <div class="col-md-2 sidebar">
        <NavMenu />
    </div>

    <div class="col-md-@col main">
        <div class="top-row px-4">
            @DateTime.Now.ToString("dd/MM/yyy HH:mm") | Hotline:  <span style="color:red"> 08046154</span> | Liên hệ
            <button type="button" class="btn btn-link ml-md-auto"><RadzenIcon Icon="facebook" /> Facebook</button>
            <button type="button" class="btn btn-link ml-md-auto"><RadzenIcon Icon="call" />Mobile</button>
            <button type="button" class="btn btn-link ml-md-auto"><RadzenIcon Icon="mark_email_read" />Email</button>
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="logout" style="float:right">
                       Thoát <span class="oi oi-power-standby"></span>
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login" style="float:right">
                        Đăng nhập <span class="oi oi-power-standby"></span>
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="m-2">
            <AuthorizeView>
                <NotAuthorized>
                    <TinMoi dataTinMoi=@lst  />
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>

    </div>


    <AuthorizeView>
        <NotAuthorized>
            <div class="col-md-3">
                <LienKetWebsite></LienKetWebsite>
                <DanhSachMatTran></DanhSachMatTran>
                <VanBanPhapLuat></VanBanPhapLuat>
            </div>
        </NotAuthorized>
    </AuthorizeView>


</div>
<Footer></Footer>

@functions {

   

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    public List<ArListRepositorie> lst { get; set; }

    private int col = 10;

    protected override async Task OnParametersSetAsync()
    { 
        if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        {
            //navigationManager.NavigateTo("/login");
            col = 7;
        }

        lst = await _client.GetListArticle();
    }
}