 
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item">
            <NavLink class="nav-link" href="article">
                Bài viết
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="category">
                Loại bài viết
            </NavLink>
        </li>
    </ul>
</div>



@code {
    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
