<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            @*<h6>Trang thông tin điện tử</h6>*@
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
 
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Giới thiệu
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="counter">
                Giám sát & phản biện
            </NavLink>
        </li>


        <li class="nav-item">
            <NavLink class="nav-link" href="" @onclick="()=>expandSubMenu= !expandSubMenu">
                Hoạt động mặt trận
            </NavLink>
            @if (expandSubMenu)
            {
                <ul class="nav flex-column m-2">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="">
                            Tin hoạt động
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="">
                            Hoạt động địa phượng
                        </NavLink>
                    </li>
                </ul>
            }
        </li>


        <li class="nav-item">
            <NavLink class="nav-link" href="fetchdata">
                Dân tộc - tôn giáo
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = false;
    private bool expandSubMenu;//add

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
