@page "/"


<PageTitle>Trang quản trị hệ thống</PageTitle>

<AuthorizeView>
    <Authorized> 
        <p style="text-align:center">Xin chào @(context.User.Identity.Name), bạn đã vào trang quản trị hệ thống !</p>
    </Authorized>
    <NotAuthorized>
       Không có quyền truy cập
    </NotAuthorized>
    <Authorizing>
        <h1>Đang truyền dữ liệu ...</h1>
    </Authorizing>
</AuthorizeView>



